/* Styles for JADN Tables */

body {
    font-family: Cambria, serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Calibri, sans-serif;
}

table {
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    text-align: left;
    margin: 20px;
}

thead {
/*    background: #cef;  */
}

td, th {
    padding: 0.125em 1em 0.25em 1em;
    line-height: 1.15;
    vertical-align: top;
}

caption {
    text-align: left;
    font-weight: bold;
    color: #c32;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    padding: 4px 2em;
    margin-bottom: 12px;
}

.n {
    text-align: right;
}

.s {
    text-align: left;
}

.h {
    font-weight: bold;
    text-align: right;
    padding-right: 0;
}